<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>10000</particles>
  <batches>10</batches>
  <inactive>0</inactive>
  <source strength="1.0">
    <space type="point">
      <parameters>-81 2 120</parameters>
    </space>
    <angle type="isotropic" />
    <energy type="discrete">
      <parameters>14100000.0 1</parameters>
    </energy>
    <time parameters="0 0.001" type="uniform" />
  </source>
  <output>
    <tallies>true</tallies>
  </output>
</settings>
